<div class="map-container" style="position: relative; width: 600px; height: 400px;">
  <img ngSrc="/haleGoogle.png" priority alt="Mapa" style="width: 100%; height: 100%;" height="598" width="1477">
  <svg
    [attr.width]="width"
    [attr.height]="height"
    style="position: absolute; top: 0; left: 0; pointer-events: none;"
  >
    <svg>
      <ng-container *ngFor="let hall of halls">
        <rect
          [attr.x]="hall.x"
          [attr.y]="hall.y"
          [attr.width]="hall.width"
          [attr.height]="hall.height"
          [attr.fill]="hall.id === highlightedHallId ? 'rgba(255,0,0,0.4)' : 'transparent'"
          stroke="red"
          [attr.stroke-width]="2"
        ></rect>
        <text
          [attr.x]="hall.x + hall.width / 2"
          [attr.y]="hall.y + hall.height / 2"
          text-anchor="middle"
          alignment-baseline="middle"
          font-size="35"
          fill="black"
          pointer-events="none"
        >
          {{ hall.id }}
        </text>
      </ng-container>
    </svg>

  </svg>
</div>
