<h2>Edytuj zgłoszenie #{{ ticketId }}</h2>

<form [formGroup]="ticketForm" (ngSubmit)="save()">
  <label>Tytuł:</label>
  <input type="text" formControlName="title" />
  <br />

  <label>Opis:</label>
  <textarea formControlName="description"></textarea>
  <br />

  <label>Status:</label>
  <select formControlName="status">
    <option value="NOWE">NOWE</option>
    <option value="W_TRAKCIE">W TRAKCIE</option>
    <option value="ZAMKNIETE">ZAMKNIĘTE</option>
  </select>
  <br /><br />

  <button type="submit" [disabled]="ticketForm.invalid">Zapisz</button>
  <button (click)="goBack()">Anuluj</button>
</form>
