<h2>Dodaj użytkownika</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Nazwa użytkownika:
    <input formControlName="userName"/>
  </label>
  <br/>

  <label>
    E-mail:
    <input formControlName="email" type="email"/>
  </label>
  <br/>

  <label>
    Hasło:
    <input formControlName="password" type="password"/>
  </label>
  <br/>

  <label>
    Role:
    <select formControlName="roles" multiple>
      <option value="USER">USER</option>
      <option value="TECHNICIAN">TECHNICIAN</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </label>
  <br/>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <button type="submit" [disabled]="form.invalid">Zapisz</button>
</form>


