<h2>Dodaj nowe zgłoszenie</h2>

<form [formGroup]="ticketForm" (ngSubmit)="submit()">
  <div>
    <label for="title">Tytuł:</label>
    <input type="text" id="title" formControlName="title"/>
  </div>

  <div>
    <label for="description">Opis:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div>
    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="NOWE">NOWE</option>
      <option value="W_TRAKCIE">W TRAKCIE</option>
      <option value="ZAMKNIETE">ZAMKNIĘTE</option>
    </select>
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="ticketForm.invalid">Wyślij zgłoszenie</button>
  </div>
</form>
