<h2>Dodaj nowe zgłoszenie</h2>

<form [formGroup]="ticketForm" (ngSubmit)="submit()">
  <div>
    <label for="title">Tytuł:</label>
    <input type="text" id="title" formControlName="title"/>
  </div>

  <div>
    <label for="description">Opis:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div>
    <label>Wybierz urządzenie:</label>

      <mat-form-field appearance="outline" class="minimal-form-field">
      <input type="text" matInput [formControl]="deviceControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let device of filteredDevices | async" [value]="device">
          {{ device.id }} {{ device.name }} ({{ device.serialNumber }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button type="submit" [disabled]="ticketForm.invalid">Wyślij zgłoszenie</button>
  </div>
</form>
