.bar {
  width: 100%;
  height: 60px;
  background: rgb(66, 86, 204);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.buger {
  content: url("/burger-menu.svg");
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  width: 24px;
  height: 24px;
  background: transparent;
  display: inline-block;
}

.logout-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.username-logout {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5vh;
}

.username {
  font-weight: bold;
  font-size: 16px;
}





