.bar{
  width: 100%;
  height: 60px;
  background: rgb(66, 86, 204);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}
.username{
 margin-right: 5vh;
}
.buger{
  content: url("/burger-menu.svg");
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
