
<nav>
  <div class="logo"></div>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/reportTicket">Zgłoś awarię urządzenia</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/addDevice">Dodaj urządzenie</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/location">Lokalizacje</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/timetable">Terminarz</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/devices">Urządzenia</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/tickets">Lista zgłoszeń</a>
    </li>
  </ul>
</nav>
